.box {
  top: 60px;
  width: 200px;
  height: 200px;
  color: black;
  background-color: #4caf50;
  position: absolute;
  /* box-shadow: 5px 10px 10px #0d717a; */
  border: 2px solid;
}

ul {
  text-decoration: none;
}

.box p {
  position: absolute;
  left: 38%;
  top: 33%;
}

li {
  position: absolute;
}
